.bg-rect-top{y:120;shape:rectangle;color:0xffffff;fill:color;width:300;height:400;lineStroke:10;lineColor:0xbbbbbb;alpha:0.1;}
.bg-rect-bot{y:570;shape:rectangle;color:0xffffff;fill:color;width:300;height:400;lineStroke:10;lineColor:0xbbbbbb;alpha:0.1;}
.btn-bg-up{shape:circle;radius:20;lineStroke:1.5;color:0x282E33;}
.btn-bg-down{shape:circle;radius:20;lineStroke:1.5;color:0x495E67;}
.btn-fg-up{color:0xFFFFFF;scale:1.6;}
.btn-fg-down{color:0xCCCCCC;scale:1.6;}
.btn-hit{shape:circle;radius:20;alpha:0;}
#close-bg-up{alpha:1;}
#close-bg-down{alpha:1;}
#close-fg-up{alpha:1;x:11;y:11;}
#close-fg-down{alpha:1;x:11;y:11;}
#play-bg-up{alpha:1;}
#play-bg-down{alpha:1;}
#play-fg-up{alpha:1;x:15;y:8;}
#play-fg-down{alpha:1;x:15;y:8;}
#pause-bg-up{alpha:1;}
#pause-bg-down{alpha:1;}
#pause-fg-up{alpha:1;x:14.5;y:8.5;}
#pause-fg-down{alpha:1;x:14.5;y:8.5;}
#info-bg-up{alpha:1;}
#info-bg-down{alpha:1;}
#info-fg-up{alpha:1;x:15;y:8;}
#info-fg-down{alpha:1;x:15;y:8;}
#flip-bg-up{alpha:1;}
#flip-bg-down{alpha:1;}
#flip-fg-up{alpha:1;x:7;y:7;}
#flip-fg-down{alpha:1;x:7;y:7;}
#info-bg{color:0x0000000;alpha:1;lineStroke:0;}
#title{border:false;height:60;paddingTop:30;paddingBottom:30;paddingLeft:15;font:OpenSansBold;color:0xFFFFFF;font-size:20;leading:-1;multiline:true;wordWrap:true;}
#description{paddingTop:30;font:OpenSansLight;color:0xFFFFFF;font-size:18;leading:-1;multiline:true;wordWrap:true;textAlign:justify;border:false;}
#frame-e{frameColor:0x999999;frameAlpha:0.3;frameThickness:30;frameShape:rectangle;}

